body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2vh;
    background-color: rgb(233, 214, 176);
    text-align: center;
    font-size: 1.5vw; 
}

h1 {
    font-size: 3vw; 
    margin-bottom: 2vh;
}

input[type="text"] {
    width: 50vw; 
    padding: 1vh;
    font-size: 2vw; 
    border: 2px solid #ccc;
    margin-bottom: 2vh;
    border-radius: 0.5vw;
}

button {
    padding: 1.5vh 3vw;
    font-size: 2vw; 
    background-color: #27507e;
    color: white;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.5vw; 
}

li {
    margin-bottom: 1vh;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 1vw; 
    max-width: 80vw; 
    margin: 2vh auto;
    padding: 2vh;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 1.5vw rgba(0, 0, 0, 0.1);
}

.keyboard .key {
    padding: 2vh;
    font-size: 2vw; 
    background-color: #919191;
    border: none;
    border-radius: 0.5vw;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.keyboard .key:hover {
    background-color: #ddd;
}

.keyboard .key:active {
    background-color: #9bc4ac;
}

.keyboard .key.backspace {
    grid-column: span 2;
}

.keyboard .key.enter {
    grid-column: span 2;
}

.keyboard .key.space {
    grid-column: 4 / 10;
    padding: 2vh 0;
}

@media (min-width: 1600px) {
    body {
        font-size: 1.2vw; 
    }

    h1 {
        font-size: 2.5vw;
    }

    input[type="text"] {
        font-size: 1.8vw;
    }

    button {
        font-size: 1.8vw;
    }

    ul {
        font-size: 1.3vw;
    }

    .keyboard .key {
        font-size: 1.8vw;
    }
}

.back-link {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    background-color: #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.back-link:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.back-link::before {
    content: '\2190'; 
    font-size: 1.5em;
    color: white;
}


@media (max-width: 768px) {
    .back-link {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .back-link {
        width: 50px;
        height: 50px;
    }

    .back-link::before {
        font-size: 1.2em;
    }

    .back-link {
        font-size: 0.9em;
    }
}

@media (min-width: 1920px) and (max-width: 3000px) {
    .back-link {
        width: 20px; 
        height: 20px;
        font-size: 4.8em; 
        background-color: #333;
    }

    .back-link::before {
        font-size: 1em; 
        background-color: #333;
        margin-top: 300px;
        margin-left: 110px;
    }

}

@media (min-width: 3001px) and (max-width: 6000px) {
    .back-link {
        width: 20px; 
        height: 20px;
        font-size: 4.8em; 
        background-color: #333;
    }

    .back-link::before {
        font-size: 1em; 
        background-color: #333;
        margin-top: 700px;
        margin-left: 340px;
    }

}

@media (min-width: 6001px) and (max-width: 9000px) {
    .back-link {
        width: 20px;
        height: 20px;
        font-size: 4.8em; 
        background-color: #333;
    }

    .back-link::before {
        font-size: 1em; 
        background-color: #333;
        margin-top: 700px;
        margin-left: 500px;
    }


}   